.postsBlock{
    padding: 10px;
}
.posts{
    margin-top: 10px;
}

.button {
    background-color: white;
    border: none;
    color: black;
    border: 2px solid #008CBA;
    padding: 5px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 10px;
}.button:hover {
     background-color: #008CBA;
     color: white;
 }