.app-wrapper {
    display: grid;
    grid-template-rows: 60px  1fr;
    grid-template-columns: 1fr 10fr;
    grid-template-areas: "h h" "n c";
    font-family: "Comic Sans MS";

}

.app-wrapper-content {
    grid-area: c;
    background-color: #DCDCDC;

}
